@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Collections;
@using BaggageStorage.Data;
@using BaggageStorage.Models;
@using Microsoft.AspNetCore.Http;
@using BaggageStorage.Classes;
@using Microsoft.Extensions.Logging;

@inject IHttpContextAccessor _httpContextAccessor;
@inject AppDbContext _db;
@inject IViewLocalizer Localizer;
@inject ILoggerFactory loggerFactory;

@{
    var menuItems = Utils.GetUserMenu(_httpContextAccessor.HttpContext, _db);

    string sidebarClosed = "";
    _httpContextAccessor.HttpContext.Request.Cookies.TryGetValue("sidebar-closed", out sidebarClosed);
    var addUlClass = (sidebarClosed == "true") ? "page-sidebar-menu-closed" : "";

    var logger = loggerFactory.CreateLogger("View");
}

<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  @addUlClass " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            @foreach (var menuItem in menuItems)
            {
                if (!Utils.CheckPermission(_db, User, menuItem.permissionEnumText, logger))
                {
                    continue;
                }

                var action = (menuItem.jsFunction.Equals("") ? menuItem.location : menuItem.jsFunction);
                <li class="nav-item  " id="menu-item-@menuItem.id">
                    <a href="@Html.Raw((menuItem.items.Count() > 0)?"javascript:;":$"javascript:{action};") " class="nav-link">
                        <i class="@menuItem.icon"></i>
                        <span class="title">@menuItem.text</span>
                        @if (menuItem.items.Count() > 0)
                        {
                            <span class="arrow "></span>
                        }
                    </a>
                    @if (menuItem.items.Count() > 0)
                    {
                        <ul class="sub-menu">
                            @await Html.PartialAsync("_SideBarSubMenu", menuItem.items)
                        </ul>
                    }
                </li>

            }
        </ul>
    </div>
</div>
