#card-with-string .card:before {
    content: "";
    display: inline-block;
    float: right;
    height: 1.618em;
    top: 0;
    width: 100%;
    background: url("/images/string-top.png") top center no-repeat;
    margin-top: -15px;
    z-index: 9999;
    zoom: 1;
}

#card-with-string .card:after {
    display: inline-block;
    float: right;
    content: "";
    height: 3.631em;
    top: 100%;
    background: url("/images/string.png") top center no-repeat;
    width: 100%;
    margin-top: -1.118em;
    zoom: 1;
}

#card-with-string .card:last-child:after {
    display: none;
}

#card-with-string .card:first-child:before {
    display: none;
}

.bg1 {
    background-color: white !important;
}

.bg2 {
    background-color: #53a8de !important;
}

.button-lock {
    z-index: 9999;
    background: url('/images/upload_inv.gif') center no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-div {
    position: relative;
    border: 0;
    display: inline-block;
    position: relative;
    line-height: normal;
    zoom: 1;
    width: 100%;
}

.card-block.bordered-blue {
    border-left: 1px solid #4285F4;
    border-bottom: 1px solid #4285F4;
    border-right: 1px solid #4285F4;
}

.card.login {
    margin: 100px auto;
    margin-bottom: 20px;
    margin-top: 25px;
    display: block;
    max-width: 350px;
}
.card.bg1 {
    border-radius: 4px;
}
.card.login label{
    font-weight:normal!important;
}
    .card.login .card-header {
        color: white !important;
        background-color: #3B3F51;
        padding:15px;
    }
    .card.login h4{
        font-size: 24px;
        margin-bottom:0px;
    }
.card.login .card-body {
    padding:20px;
}

.card.activation {
    margin: 100px auto;
    margin-bottom: 20px;
    display: block;
    max-width: 450px
}

.no-padding {
    padding: 0px !important
}

#btLogin, #btActivate {
    background-color: #3B3F51 !important;
    border-color: #e3f1fa !important;
}

#activation-container {
    margin-bottom: 10px;
}

#btActivate {
    padding-bottom: 2px;
    padding-top: 2px;
}

.font-main-color {
    color: #3B3F51;
}


    .bg-portlet .portlet-title .caption span {
        color: white !important;
    }



    .bg-portlet .portlet-title.custom-title {
        background-color: #3B3F51;
    }

.portlet-title.custom-title {
    padding-bottom: 5px !important;
    padding-top: 10px !important;
}

#weightElement2, #weightElement1 {
    text-align: right;
    /*font-weight:500;
    font-size: 8rem;*/
}

#weight1-container, #weight2-container {
    text-align: right;
}

    #weight1-container button, #weight2-container button {
        width: 100%;
    }

    #weight1-container h1, #weight2-container h1 {
        font-weight: bold;
    }

.custom-title li.active {
    border-bottom-color: white !important;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

#receipt {
    display: none;
}

.adapt-h1 h1 {
    margin: 0px;
}

.adapt-h1 .button-div {
    position: relative;
    top: 25px;
}

.portlet-title .dx-toolbar-after{
    position: relative;
    float: right;
    margin-right: 20px;
    top: 3px;
}

.dx-icon-add, .dx-icon-trash, .dx-icon-edit{
    text-decoration:none!important;
}

#tab-opened-portlets .active a {
    color: #5b9bd1;
    background-color: #f2f6f9 !important;
}
    #tab-opened-portlets .active a:hover {
        color: #5b9bd1;
    }

#tab-opened-portlets a {
    color: lightgray;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
    #tab-opened-portlets a:hover {
        color: white;
        background-color: transparent;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

.a-tab-opened-portlet {
    font-size: 1.25rem !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 50px !important;
}

.tab-badge {
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: transparent;
    cursor:pointer;
}
ul.nav-tabs .active .tab-badge {
    color: black;    
}
ul.nav-tabs .tab-badge:hover {
    color: white;
    background-color: red;
}

.dx-datagrid-headers .dx-datagrid-text-content {
    text-align: center;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}

.dx-datagrid .dx-datagrid-rowsview .dx-datagrid-edit-form {
    background-color: lightyellow !important;
}

.dx-datagrid-rowsview .dx-selection.dx-row > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
    background-color: lightblue !important;
}

.dx-checkbox-icon {
    border-color: grey !important;
}
